@import "reset/cssreset";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$sans: "Helvetica Neue", Sans-Serif;
$mono: "Droid Sans Mono", "Monaco", monospace;
$margin: 40px;
$black: #222;

html{
	font: 400 14px/20px $sans;
	border: 10px solid $black;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

#intro{
	margin: $margin;
	font: 400 60px/60px $sans;
	letter-spacing: -1px;
	h1{
		font-weight: 600;
	}
	.small{
		font: 400 14px/20px $sans;
	}
}

#locations{
	margin: $margin;
	font: 400 12px/20px $mono;
	p{
		margin-bottom: 10px;
	}
	li{
		.hint{
			display: none;
			color: #CCC;
		}
		&:hover{
			.hint{
				display: inline;
				margin-left: 8px;
			}
		}
		a{
			text-decoration: none;
			color: #0000FF;
			&:visited{
				color: #BBB;
			}
		}
	}
}